In [1]:
for x in range(4):
  print('Data Science')

Data Science
Data Science
Data Science
Data Science

In [2]:
list(range(4))

[0, 1, 2, 3]

In [3]:
for x in range(4):
  print('Data Science', x)

Data Science 0
Data Science 1
Data Science 2
Data Science 3

In [4]:
# range between two numbers

for x in range(3,5):
  print('Data science', x)

Data science 3
Data science 4

In [5]:
# step

for x in range(2,10):
  print('Data science', x)

Data science 2
Data science 3
Data science 4
Data science 5
Data science 6
Data science 7
Data science 8
Data science 9

In [6]:
for x in range(2,10,2):
  print('Data science', x)

Data science 2
Data science 4
Data science 6
Data science 8

In [8]:
for x in range(2,10,4):
  print('Data science', x)

Data science 2
Data science 6

In [9]:
# backwards

for x in range(4,-1, -1):
  print('Data science', x)

Data science 4
Data science 3
Data science 2
Data science 1
Data science 0

In [10]:
for x in range(4,-1, -2):
  print('Data science', x)

Data science 4
Data science 2
Data science 0

In [12]:
for x in reversed(range(4)):
  print('Data Science',x)

Data Science 3
Data Science 2
Data Science 1
Data Science 0

In [13]:
# Break and continue

for i in range(2,10):
  if i * 5 > 10:
    break
  print(i)

2

In [14]:
for i in range(2,10):
  if i * 5 > 20:
    break
  print(i)

2
3
4

In [15]:
for i in range(2,10):
  if i * 5 == 20:
    continue
  print(i)

  # 4 is equal to 20

2
3
5
6
7
8
9

In [17]:
for x in 'Sci-kit learn':
  print(x)

S
c
i
-
k
i
t

l
e
a
r
n

In [18]:
for x in 'Sci-kit learn':
  print(x, end = '|')

S|c|i|-|k|i|t| |l|e|a|r|n|

In [19]:
for x in ['train test split', 'regression', 'classification', 'random forest']:
  print(x)

train test split
regression
classification
random forest

In [23]:
for term in ['train test split', 'regression', 'classification', 'random forest']:
  print(term)

train test split
regression
classification
random forest

In [24]:
baseball_teams = ['Rays', 'Yankees', 'Red Sox']

for team in baseball_teams:
  print(team)

Rays
Yankees
Red Sox

In [26]:
# Enumerate


for index, team in enumerate(baseball_teams):
  print(index, team)

0 Rays
1 Yankees
2 Red Sox

In [27]:
baseball_playe = {'name': 'Nolan Ryan', 'team': 'Astros', 'position': 'pitcher', 'number': 34 }

for data in baseball_playe.values():
  print(data)

Nolan Ryan
Astros
pitcher
34

In [28]:
for key, data in baseball_playe.items():
  print(key, '-', data)

name - Nolan Ryan
team - Astros
position - pitcher
number - 34

In [29]:
# Nested loops

for x in range(7):
  for y in range(9):
    print(x, y)

0 0
0 1
0 2
0 3
0 4
0 5
0 6
0 7
0 8
1 0
1 1
1 2
1 3
1 4
1 5
1 6
1 7
1 8
2 0
2 1
2 2
2 3
2 4
2 5
2 6
2 7
2 8
3 0
3 1
3 2
3 3
3 4
3 5
3 6
3 7
3 8
4 0
4 1
4 2
4 3
4 4
4 5
4 6
4 7
4 8
5 0
5 1
5 2
5 3
5 4
5 5
5 6
5 7
5 8
6 0
6 1
6 2
6 3
6 4
6 5
6 6
6 7
6 8

In [30]:
 runners = ['kipchoge', 'owens', 'nurmi']
 distances = ['5k', '10k', 'Marathon']


 for runner in runners:
  for distance in distances:
    print(runner + ':' + distance)

kipchoge:5k
kipchoge:10k
kipchoge:Marathon
owens:5k
owens:10k
owens:Marathon
nurmi:5k
nurmi:10k
nurmi:Marathon

In [31]:
# using loops to sum

sum = 100

for x in range(5):
  sum = sum + x*x
  print(sum)

100
101
105
114
130

In [32]:
list = [22, 55, 88]
sum = 50

for number in list:
  sum = sum + number
  print(sum)

72
127
215