# Lambda
-> 1 line ananymous function,  anonmymous becasue no name for that fnction

In [1]:
add_1 = lambda x: x+1
result = add_1(1)
print(result)

2

In [2]:
add_xy = lambda x,y: x+y
result = add_xy(1,2)
print(result)

3

In [3]:
# without lambda
def without_lambda(x,y):
  return x+y
result = without_lambda(1,2)
print(result)

3

# Map
-> Take some list / iterable object and apply a function to every singe value inside of it and generate something new with that ccontaints the results

In [4]:
my_nums = [1,2,3,4,5]
result = map(lambda x: x**2, my_nums)
print(list(result))

[1, 4, 9, 16, 25]

In [5]:
def square(c):
  return c ** 2
squares = list(map(square, my_nums))
print(squares)

[1, 4, 9, 16, 25]

# Filter
-> Apply function to every single value inside of list / interable object
~ filter the obhect if true

In [6]:
evens = list(filter(lambda x: x % 2 == 0, my_nums))
print(evens)

[2, 4]

# Sort
-> some kind of key values to be sorted

In [7]:
values = [(1, 'b', 'hello'), (2, 'a', 'world'), (3, 'c', 'bye')]

sorted_values = sorted(values, key = lambda x: x[1])
print(sorted_values)

[(2, 'a', 'world'), (1, 'b', 'hello'), (3, 'c', 'bye')]

In [8]:
sorted_values = sorted(values, key = lambda x: x[0] + x[2])
print(sorted_values)

[(3, 'c', 'bye'), (1, 'b', 'hello'), (2, 'a', 'world')]

In [10]:
sorted_values = sorted(values, key = lambda x: x[1] + x[2])
print(sorted_values) # 2 conditions if same look for 2nd one

[(2, 'a', 'world'), (1, 'b', 'hello'), (3, 'c', 'bye')]

# Functools
## Reduce
-> Its going to reduce down some kind of interable object to a single value

In [11]:
from functools import reduce

numbes = [1, 2, 3, 4, 5]

In [12]:
# using reduce to sum the list without initializer
# acc = accumulated value, by default acc value will be the first value in out list/iterable object
sum_of_numbers = reduce(lambda acc, x:acc + x, numbes)
print(sum_of_numbers)
# n*(n+1)/2

15

In [13]:
# using reduce to find the maximum value
# inline if statement
max_value = reduce(lambda acc, x: acc if acc > x else x, numbes)
print(max_value)

5

# messed up thing

In [14]:
fancy_comp = {x: (lambda x: x*x)(x) for x in range(5)}
print(fancy_comp)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}