In [1]:
# basic

runner = input('Enter your name: ')
print(f'Hello, {runner}! Baisci input practice')

Enter your name: Ashraf
Hello, Ashraf! Baisci input practice

In [3]:
# cast as an integer

miles = int(input(f' enter the digits natural/whole numbers only : '))

 enter the digits natural/whole numbers only : 12

In [4]:
km = miles * 1.60934

print(f"the distance {miles} in miles is {km} km")

the distance 12 in miles is 19.31208 km

In [5]:
# casting as a float with user input

miles = input(f' enter the digits or numbers only : ')

 enter the digits or numbers only : 12.1

In [6]:
fidtance = float(miles)
print(f'you can do {fidtance} today if required')

you can do 12.1 today if required

In [7]:
total_dist = fidtance + 5
print(f'your total distance is {total_dist}')

your total distance is 17.1

In [8]:
miles = input(f' enter the digits or numbers only : ')
total_dist = miles + 5
print(f'your total distance is {total_dist}')

 enter the digits or numbers only : 10

TypeError: can only concatenate str (not "int") to str

In [11]:
# eval - to do the mathematical functions

miles_ran = eval(input('add in the miles walked this week: '))
miles_ran

add in the miles walked this week: 5+7+9-5-7

9

In [14]:
# while loop

total_dist = 0.0
while True:
  dist_str = input('Enter the distance walked this week: ')
  dist = float(dist_str)

  total_dist += dist
  print(f'you ran {dist} so far and the total distance for this week is {total_dist}')

  continue_walk = input('dp you want to add another walk> y/n: ')

  if continue_walk.lower() != 'y':
    break

Enter the distance walked this week: 6
you ran 6.0 so far and the total distance for this week is 6.0
dp you want to add another walk> y/n: y
Enter the distance walked this week: 3
you ran 3.0 so far and the total distance for this week is 9.0
dp you want to add another walk> y/n: n

In [15]:
print(f"great jon! you walked a {total_dist} miles this week")

great jon! you walked a 9.0 miles this week